

* { 
margin: 0;
padding: 0;
box-sizing: border-box;
cursor:none !important;
}

:root {
    --font-main:'Manrope', sans-serif;
    --background:#EDF2F4; 
    --primary:#0D1321;
    --secondary:#1D2D44;
    --surface:#3E5C76;
    --accent:#748CAB;
    --cursor:#FFB703;
    --cglow:#f6ba67;
    --textlight:#EDF2F4;
    --textdark:#0D1321;

}

body{
    font-family:var(--font-main);
    letter-spacing: -0.01em;
    -webkit-font-smoothing: antialiased;    
}

#cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  width: 12px;
  height: 12px;

  background: var(--cursor); /* sunlight color */
  border-radius: 50%;

  pointer-events: none;
  transform: translate(-50%,-50%);

  transition: transform .12s ease, background .3s, box-shadow .3s;

  
  box-shadow: 0 0 10px var(--cglow),
              0 0 20px var(--cglow);
}


#cursor-ring {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;

  width: 36px;
  height: 36px;

  border: 1.5px solid var(--cursor); 
  border-radius: 50%;

  pointer-events: none;
  transform: translate(-50%, -50%);

  transition: transform .35s cubic-bezier(.25,.46,.45,.94),
              border-color .3s,
              opacity .3s;

  opacity: .5;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 0.8;
  height: 100vh;
  background: linear-gradient(rgba(13, 19, 33, 0.7), rgba(29, 45, 68, 0.7)),
    url('Avalanche/public/images/signup.jpg') no-repeat center/cover;
  
  position: relative;
  color:var(--textlight);
}


.overlay {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
padding: 60px;
display: flex;
flex-direction: column;
justify-content: center;
}

.overlay h3 {
  margin-bottom: 10px;
  opacity: 0.8;
}

.overlay h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.overlay h1 #sun{
    color:var(--cursor);
    text-shadow: 0px 0px 8px var(--cglow);
}

.overlay p {
  max-width: 400px;
  margin-bottom: 30px;
  opacity: 0.85;
}

.right {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  
}


.form-card {
  background:var(--background);
  margin-top: 20px;
  padding: 40px 36px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 0 20px var(--accent);
  backdrop-filter: blur(10px);
  border-radius: 16px ;
}


.form-card h2 {
  margin-bottom: 20px;
  color:var(--textdark);
  font-weight: bold;
}


.pw-wrap {
  position: relative;
}

.pw-wrap input {
  margin-bottom: 5px;
}

#togglePw {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding:0;
  display: flex;
  align-items: center;
  color: var(--secondary);
  width: auto;
  height:auto;
  border-radius:0;
 
}

#togglePw:hover {
  color: var(--accent);
}
  
.cpw-wrap {
  position: relative;
}

.cpw-wrap input {
  margin-bottom: 5px;
}

#toggleCpw {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding:0;
  display: flex;
  align-items: center;
  color: var(--secondary);
  width: auto;
  height:auto;
  border-radius:0;
 
}

#toggleCpw:hover {
  color: var(--accent);
}

label {
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid var(--background);
  background:rgba(213, 213, 215, 0.8);
}

input:focus {
  outline: none;
  border: 1px solid var(--accent);
  background: white;
  transition: border 0.2s ease;
}

button {
  width: 100%;
  padding: 14px;
  background: var(--primary);
  color: var(--background);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
  box-shadow: 0 0 20px var(--accent);
}


.login {
  text-align: center;
  font-size: 13px;
  margin-top: 15px;
}

.login a {
  font-weight: bold;
  text-decoration: none;
  color: var(--primary);
}

.login a:hover {
  color: var(--accent);
}